.blog {

	.widget-area {
		padding: 0 $size__content-padding;

		@media (max-width: 1024px) {
			& {
				padding: 0 $size__content-padding-mobile;
			}
		}
	}

	.blog-header {
		padding: 0 $size__content-padding;
		max-width: $max-size__boxed-content;
		margin: 0 auto;

		@media (max-width: 1024px) {
			& {
				padding: 0 $size__content-padding-mobile;
			}
		}
	}

	.blog-about {
		padding: 0 $size__content-padding 2em;
		max-width: $max-size__boxed-content;
		margin: 4em auto 0;
		display: flex;
		flex-direction: row;
		align-items: flex-start;

		@media (max-width: 1024px) {
			& {
				padding: 0 $size__content-padding-mobile;
			}
		}

		&__blurb {
			font-size: 1.3rem;
			line-height: 1.8;
			letter-spacing: 0.025em;
		}

		&__title {
			font-size: 2.8125rem;
			margin: 0 0 0.5em;
		}

		&__image {
			max-width: calc( #{$max-size__boxed-content} / 3 );
			margin: 25px 60px 0 0;
		}

		@media screen and (max-width: 1080px) {
			& {
				flex-direction: column;
				align-items: center;
			}

			&__image {
				margin: 0 0 2em;
				width: 100%;
			}
		}
	}

	.blog-posts {
		margin-bottom: 6em;

		article:not(:last-child) {
			margin-bottom: 2.5em;
		}

		.entry-title {
			margin-bottom: 0.5em;
		}

		.entry-content p {
			font-size: 1.1rem;
		}
	}

	hr {
		padding: 0 $size__content-padding;
		max-width: 200px;
		margin: 4.2em auto;

		@media (max-width: 1024px) {
			& {
				padding: 0 $size__content-padding-mobile;
			}
		}
	}
}
