.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.votv-boxed-content {
	margin: 0 auto;
	max-width: $max-size__boxed-content;
	padding: 0 $size__content-padding;
}

.page {
	.widget-area {
		padding: 0 $size__content-padding;
	}
}
