@use "../../abstracts/variables/structure";

.site-background {
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		min-height: 43vw;
		width: 100%;
		background-image: url('../assets/img/header-bg.jpg');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		min-height: 43vw;
		background: linear-gradient(180deg,rgba(155, 42, 42, 0) 0%, rgba(0, 0, 0, 1) 100%);
	}
}

#stickyNav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

@keyframes slideDown {
	from {transform: translateY(-100%)} 
	to {transform: translateY(0%)} 
}

.site-header {
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	padding: 1.2em structure.$size__content-padding 1.2em;
	font-size: 2rem;
	font-family: "Baskervville", serif;
	background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 60%);
	transition: padding 0.3s ease;

	@media (max-width: 1024px) {
		& {
			padding: 25px structure.$size__content-padding-mobile;
		}
	}

	@media (max-width: 599px) {
		& {
			background-color: rgba(0, 0, 0, 0.9);
		}
	}

	&--sticky {
		position: fixed;
		top: 0;
		background-color: #1a1819;
		padding-top: 0.25em;
		padding-bottom: 0.25em;
		animation: slideDown 0.37s;
	}

	.site-title {
		font-size: 2rem;
		font-weight: bold;

		a {
			text-decoration: underline rgba(255, 255, 255, 0);
			transition: text-decoration-color 400ms;

			&:hover,
			&:active,
			&:focus {
				text-decoration-color: rgba(255, 255, 255, 1);
			}

			&:focus {
				outline: none;
			}
		}
	}

	.site-header-inner {
		margin: 0 auto;
		max-width: 1600px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@media (max-width: 599px) {
			& {
				align-items: center;
			}
		}
	}
}

.admin-bar .site-header {
	top: 32px;
}
