.site-footer {
	padding: 2em $size__content-padding;

	@media (max-width: 1024px) {
		& {
			padding: 2em $size__content-padding-mobile;
		}
	}
}

.entry-footer {
	padding-top: 1em;

	.cat-links + .edit-link {
		margin-left: 0.5em;
	}
}
